<main class="feed-grid">
    <!-- Informações sobre o perfil -->
    <div class="profile-information">
        <div class="profile__bg"></div>
        <img src="{{URL}}/public/img/p.jpg" alt="Profile image" class="profile__image">
        <h3 class="profile__name">User's Name</h3>
        <a href="#" class="options__link">Ver perfil</a>
        <a href="#" class="options__link">Sair</a>
    </div>
    <!-- Form para realizar publicação -->
    <div class="publish">
        <input type="text" class="form__input" placeholder="Pubique algo ...">
    </div>
</main>