<main class="feed-grid">
    <!-- Informações sobre o perfil -->
    <div class="profile-information">
        <div class="profile__bg"></div>
        <img src="{{URL}}/public/img/p.jpg" alt="Profile image" class="profile__image">
        <h3 class="profile__name">User's Name</h3>
        <a href="#" class="options__link">Ver perfil</a>
        <a href="#" class="options__link">Sair</a>
    </div>

    <!-- Form para realizar publicação -->
    <div class="publish">
        <input type="text" class="form__input" placeholder="Pubique algo ...">
    </div>

    <!-- Área de notícias -->

    <div class="breaking-news">
        <div class="breaking-news__header">
            <h1 class="breaking-news__title">Notícias</h1>
            <i class="fa-regular fa-newspaper"></i>
        </div>

        <!-- Artigos relacionados -->

        <div class="articles">
            <a href="#" class="articles__link">
                <article class="breaking-news__article">
                    <h2 class="article__title">Article</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis tempora veritatis enim possimus? Repellendus quam itaque aspernatur laborum odio. Sunt blanditiis vero amet tempore quo provident labore maxime id.</p>
                </article>
            </a>

            <a href="#" class="articles__link">
                <article class="breaking-news__article">
                    <h2 class="article__title">Article</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis tempora veritatis enim possimus? Repellendus quam itaque aspernatur laborum odio. Sunt blanditiis vero amet tempore quo provident labore maxime id.</p>
                </article>
            </a>
            <a href="#" class="articles__link">
                <article class="breaking-news__article">
                    <h2 class="article__title">Article</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis tempora veritatis enim possimus? Repellendus quam itaque aspernatur laborum odio. Sunt blanditiis vero amet tempore quo provident labore maxime id.</p>
                </article>
            </a>
        </div>
        
    </div>
</main>