.form-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1E1F23;
  padding: 1rem;
  border-radius: 10px;
  min-height: 250px;
  min-width: 290px;
  box-shadow: 2px 2px 10px rgba(71, 141, 201, 0.5);
}
.form label {
  display: block;
  color: #C0CDFA;
}

.form__input {
  padding: 0.9rem;
  outline: none;
  font-size: 0.9rem;
  background-color: #020510;
  border: transparent;
  border-radius: 8px;
  color: #C0CDFA;
}

.form__input::placeholder {
  color: #C0CDFA;
}

.form__button {
  background-image: linear-gradient(to right, #0A396C, #3689D2 50%, #478DC9);
  padding: 0.9rem;
  outline: none;
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
  color: #C0CDFA;
}

.form__title {
  color: #C0CDFA;
  margin-bottom: 1rem;
  position: relative;
}
.form__title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  height: 1px;
  width: 50%;
  background-color: #C0CDFA;
}

.options {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: space-between;
}
.options::after {
  content: "";
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0%;
  height: 1px;
  width: 100%;
  background-color: #C0CDFA;
}
.options .options__message {
  font-size: 0.8rem;
  color: #C0CDFA;
}
.options .options__link {
  display: block;
  font-size: 0.8rem;
  text-decoration: none;
  color: #478DC9;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 4;
}

#login-cad-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form, #cad-form {
  padding: 1rem;
}

.section-cad-form {
  transform: translateX(200%);
  opacity: 0;
  pointer-events: none;
}

/*
-------------------------------------------------------
LOGIN AND CAD FORM'S ANIMATIONS
-------------------------------------------------------
*/
.login--hide {
  animation-name: form-login-hide;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes form-login-hide {
  50% {
    transform: translateX(40%);
    opacity: 0.9;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.cad--show {
  animation-name: form-cad-show;
  animation-duration: 0.5s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: all;
}

@keyframes form-cad-show {
  50% {
    transform: translateX(200%);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
/*
=========================================
General components
=========================================
*/
/*
=========================================
These files concerning login's components
=========================================
*/
/*
----------------------------------
RESET DEFAULT SETTINGS
----------------------------------
*/
@font-face {
  font-family: Roboto;
  src: url("../font/roboto/Roboto-Regular.ttf"), url("../font/roboto/Roboto-Light.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto;
}

#body-login {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
