<header id="header">
    <div class="container menu-flex flex-basis">
        <a href="{{URL}}/home" aria-label="no cancel culture" class="header__brand">NCC</a>

        <!-- Form para buscas -->

        <form method="GET" id="search-form">
            <input type="text" name="search" class="form__input search-input" placeholder="Buscar postagem ...">
            <button type="submit" class="search-button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>

        <nav class="header__menu"></nav>
    </div>
</header>