<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sistema de postagens inspirado no linkedin">
    <meta name="author" content="Anderson Luiz Santos César">
    <!-- style -->
    <link rel="stylesheet" href="{{URL}}/public/css/style.css">
    <title>{{title}}</title>
</head>
<body> 
    <!-- Background vídeo -->
    <video autoplay loop muted id="background-video">
        <source src="{{URL}}/public/img/login/earth.mp4" type="video/mp4">
    </video>
    {{content}}
    <div id="cover"></div>
</body>
</html>