<section id="login-cad-section">
    <!-- Login Form -->
    <div class="form">
        <h1 class="form__title">Login</h1>
        <form method="POST" class="form-flex">
            <label for="usuario-email">Usuário / E-mail</label>
            <input type="text" name="usuario" id="usuario-email" class="form__input" placeholder="username / email@email.com ...">

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" class="form__input" placeholder="******">
                <button type="submit" class="form__button">Entrar</button>
        </form>
    </div>
</section>