@use '../../variables' as var;
@use '../../components/form' as comp;

.publish {
    background-color: var.$primary-color;
    padding: 1rem;
    border-radius: 6px;
    max-height: 80px;
    input {
        width: 100%;
    }
}

.profile-information {
    background-color: var.$primary-color;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    position: relative;
}

.profile__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;    
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
}

.profile__image {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    border: 2px solid var.$text-color;
}

.breaking-news {
    padding: 1rem;
    background-color: var.$primary-color;
    border-radius: 6px;
    grid-column-start: last-column-start;
    grid-row-start: row-start;
    grid-row-end: finish;
    
    .breaking-news__header {
        display: flex;
        align-items: center;
        font-size: .6rem;
        gap: .5rem;
        background-color: var.$primary-color;

        i {
            font-size: 1.3rem;
        }

        .breaking-news__title {
            position: relative;
            
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -160%;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background-color: var.$text-color;                
            }

        }

    }

}

.articles { 
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-top: 1rem;
}

.articles__link {
    text-decoration: none;
    color: var.$text-color;
}


.breaking-news__article {
    background-color: var.$comment-area-color;
    padding: 1rem;
    border-radius: 5px;

    .article__title {
        font-size: medium;
    }
    
    p {
        font-size: small;
        letter-spacing: 1px;
        padding: 4px;
    }
}

/*
==================================
AREA DE POSTAGENS RECENTES
==================================
*/

.recente-publishes__title {
    margin-top: 1rem;
    position: relative;
    font-size: 1.4rem;
    font-weight: lighter;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 1px;
        width: calc(100% - 14rem);
        background-color: var.$text-color;
    }
}

.poster-area {
    background-color: var.$primary-color;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.poster-area__header {   
    display: flex;
    gap: 1rem;
    align-items: center;

}

.poster-area__header-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.poster-arear__header-user-information {

    h3 {
        margin-bottom: .3rem;
    }

    p {
        display: block;
        font-size: .8rem;
    }

}

.poster-area__header-data {
    margin-left: auto;
    margin-bottom: auto;
}

.poster-area__body 
{
    .poster-area__body-text {
        padding: 1rem;
        line-height: 25px;
    }
}

.poster-area__body-photo {
    width: 100%;
    height: 378px;
}

/*
====================================
COMMENTS
====================================
*/
.poster-area__comments-reactions {
    display: flex;
    gap: 1rem;
}
.like-reaction, .comment-reaction {
    font-size: small;
}

.poster-area__comments-interactions {
    padding: 2rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.like-interaction, .comment-interaction {
    cursor: pointer;
    display: flex;
    gap: .2rem;
    align-items: center;
    span {
        font-size: small;
    }
   i {
    font-size: 1.4rem;
   }
}

.comment {
    display: flex;
    gap: 1rem;
    align-items: center;
    .comment__user-photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}

#form__comment {
    width: 100%;

    input {
        width: 100%;
        @include comp.backgroundImageForInput('../img/gallery.png');
    }
}

.title-comments {
    font-weight: lighter;
    margin-top: 1.5rem;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        height: 1px;
        width: 80%;
        background-color: var.$text-color;
    }
}

.all-comments {
    padding: 1rem;
}

.single-comment__user-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.single-comment {
    display: grid;
    grid-template-columns: 65px 1fr;  
    gap: 1rem;
    margin-bottom: 1rem;

    .single-comment__text {
        background-color: var.$comment-area-color;
        padding: 1rem;
        border-radius: 5px;
        position: relative;
        flex-basis: 100%;

        &::after {
            content: "";
            position: absolute;
            top:  10px;
            left: -19px;
            height: 0;
            width: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid var.$comment-area-color;
        }
    }

    .single-comment__text  p {
        font-size: .8rem;
    }
}

.single-comment__interaction {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: small;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: -10px;
}


/*
============================================
FORMULÁRIO QUE FAZ PARTE DO MODAL 
============================================
*/

.publish-input {
    @include comp.backgroundImageForInput('../img/gallery.png');
    width: 100%;
    margin-bottom: .2rem;
}