@use '../variables' as var;

.login--hide {
    animation-name: form-login-hide;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.error-message {
    transition: all .3s ease-in-out;
    background-color: var.$error-message-background;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: var.$error-message-text-color;
    box-shadow: 0px 0px 20px 4px lighten(var.$error-message-background,  3%);
    z-index: 12;
    &::after {
        content: "";
        position: absolute;
        bottom: -.4rem;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border-left: 10px solid  transparent;
        border-right: 10px solid  transparent;
        border-top: 10px solid  var.$error-message-background;
    }

}