@use '../variables' as var;

@mixin label {
    display: block;
    color: var.$text-color;
}

@mixin inputStyle($padding: .9rem, $border-radius: 8px) {
    padding: $padding;
    outline: none;
    font-size: .9rem;
    background-color: var.$input-color;
    border: transparent;
    border-radius: $border-radius;
    color: var.$text-color;
}

@mixin formButton($padding: .9rem, $border-radius: 8px) {
    @include var.linear-gradient();
    padding: $padding;
    outline: none;
    border: transparent;
    border-radius: $border-radius;
    cursor: pointer;
    color: var.$text-color;
}

@mixin formButtonCancel($padding: .9rem, $border-radius: 8px) {
    @include var.linear-gradient-red();
    padding: $padding;
    outline: none;
    border: transparent;
    border-radius: $border-radius;
    cursor: pointer;
    color: var.$text-color;
}

@mixin backgroundImage($path, $bgSize: 20px, $positionX: 97%, $positionY: 50%) {
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: $bgSize;
    background-position: $positionX $positionY;
}

@mixin labelFile($trans: false, $top: 50%, $height: 20px, $width: 20px, $left: 0%, $right: 2%, $bottom: 0%) {
    height: $height;
    width: $width;
    position: absolute;
    top: $top;
    right: $right;   

    @if $trans {
        transform: translateY(-50%);
    }
}

.cancel-button {
    @include formButtonCancel();
}

.form-group-btns {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.form-flex {
    display: flex;
    flex-direction: column;   
    gap: .5rem;
}


.form {
    position: absolute;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    background-color: var.$primary-color;
    padding: 1rem;
    border-radius: 10px;
    min-height: 250px;
    min-width: 290px;
    box-shadow: 2px 2px 10px rgba($color: var.$shadow-light-color, $alpha: .5);

    label {
        @include label;
    }
}

.form__input {
    @include inputStyle();
}

.form__input::placeholder {
    color: var.$text-color;
}

.form__button {
    @include formButton();
}

.form__title {
    color: var.$text-color;
    margin-bottom: 1rem;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0%;
        height: 1px;
        width: 50%;
        background-color: var.$text-color;
    }
}

.options {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    position: relative;
    justify-content: space-between;

    &::after {
        content: "";
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: 0%;
        height: 1px;
        width: 100%;
        background-color: var.$text-color;
    }
    .options__message {
        font-size: .8rem;
        color: var.$text-color;
    }

}
.options__link {
    display: block;
    font-size: .8rem;
    text-decoration: none;
    color: var.$links-color;
}

.form__parent {
    position: relative;
}

.comment-input {
    resize: none;
    width: 100%;
    font-family: Roboto;
    transition: all .3s ease-in-out;
}

